@model LAAG.Persona

@{
    ViewBag.Title = "Agregar";
}
@{ LAAG.Persona persona = (LAAG.Persona)Session["CurrentSession"];}
<h2>Agregar</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

<section id="RegisterForm">
<div class="container">
    <div class="row">
        <form role="form">
            <div class="col-lg-6">
            
                @Html.HiddenFor(model => model.ID_Persona)
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre)
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", placeholder = "Nombre",@required = "required"})
                        @Html.ValidationMessageFor(model => model.Nombre)
                        <span class="input-group-addon"></span>   
                    </div>
                </div>

                <div class="form-group">
                        @Html.LabelFor(model => model.Apellido1)
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Apellido1, new { @class = "form-control", placeholder = "Apellido", @required = "required"  })
                            @Html.ValidationMessageFor(model => model.Apellido1)
                            <span class="input-group-addon"></span>  
                        </div>
                    </div>
                

                <div class="form-group">
                        @Html.LabelFor(model => model.Apellido2)
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Apellido2,new { @class = "form-control", placeholder = "Apellido", @required = "required"  } )
                            @Html.ValidationMessageFor(model => model.Apellido2)
                            <span class="input-group-addon"></span>  
                        </div>
                    </div>

                <div class="form-group">
                        @Html.LabelFor(model => model.Correo)
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Correo, new { @class = "form-control", type="email", placeholder = "Correo", @required = "required"  } )
                            @Html.ValidationMessageFor(model => model.Correo)
                            <span class="input-group-addon"></span>  
                        </div>
                    </div>

                <div class="form-group">
                        @Html.LabelFor(model => model.Clave)
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Clave, new { @class = "form-control", placeholder = "Contraseña", @required = "required"  } )
                            @Html.ValidationMessageFor(model => model.Clave)
                            <span class="input-group-addon"></span>  
                        </div>
                    </div>

                @Html.HiddenFor(model => model.FechaCreacion)
            
                <div class="form-group">
                    @Html.LabelFor(model => model.Telefono1)
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Telefono1, new { @class = "form-control", placeholder = "Telefono"} )
                        @Html.ValidationMessageFor(model => model.Telefono1) 
                        <span class="input-group-addon"></span> 
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telefono2)
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Telefono2, new { @class = "form-control", placeholder = "Telefono"} )
                        @Html.ValidationMessageFor(model => model.Telefono2)
                        <span class="input-group-addon"></span>  
                    </div>
                </div>
            
                @Html.HiddenFor(model => model.UsuarioCreacion)
            
                @Html.HiddenFor(model => model.FechaActualizacion)
            
                @Html.HiddenFor(model => model.UsuarioActualizacion)  

                @Html.HiddenFor(model => model.Estado,0) 
    
                <div class="form-group">
                    @Html.LabelFor(model => model.Tipo)
            
                    <div class="input-group">
                         @Html.TextBoxFor(model => model.Tipo, new { @class = "form-control", placeholder = "Tipo",@required = "required"} )
                        @Html.ValidationMessageFor(model => model.Tipo)
                        <span class="input-group-addon"></span>
                    </div>
                </div>
        
                <div class="form-group">
                    @Html.LabelFor(model => model.NombreUsuario)
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.NombreUsuario, new { @class = "form-control", placeholder = "Nombre de Usuario",@required = "required"} )
                        @Html.ValidationMessageFor(model => model.NombreUsuario) 
                        <span class="input-group-addon"></span> 
                    </div>  
                </div>

                @Html.HiddenFor(model => model.PasswordChange,true)

                <p>
                    <input type="submit" value="Guardar" class="btn btn-info pull-right"/>
                </p>

            </div>
        </form>
    </div>
</div>
</section>
}

<div>
    @Html.ActionLink("Atrás", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
