@model LAAG.Persona

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Persona</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Correo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Correo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefono1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefono2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono2)
    </div>

    <div class="display-label">
         @Html.HiddenFor(model => model.UsuarioCreacion)
    </div>
    <div class="display-field">
        @Html.HiddenFor(model => model.UsuarioCreacion)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tipo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreUsuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreUsuario)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.ID_Persona}) |
    @Html.ActionLink("Atrás", "Index")
</p>
