@model LAAG.Persona

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <!--
        <div class="editor-label">
            @Html.LabelFor(model => model.ID_Persona)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_Persona)
            @Html.ValidationMessageFor(model => model.ID_Persona)
        </div>
        -->

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Apellido1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Apellido1)
            @Html.ValidationMessageFor(model => model.Apellido1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Apellido2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Apellido2)
            @Html.ValidationMessageFor(model => model.Apellido2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Correo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Correo)
            @Html.ValidationMessageFor(model => model.Correo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Clave)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Clave)
            @Html.ValidationMessageFor(model => model.Clave)
        </div>

        <!--
        <div class="editor-label">
            @Html.LabelFor(model => model.FechaCreacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaCreacion)
            @Html.ValidationMessageFor(model => model.FechaCreacion)
        </div>
        -->

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefono1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefono1)
            @Html.ValidationMessageFor(model => model.Telefono1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefono2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefono2)
            @Html.ValidationMessageFor(model => model.Telefono2)
        </div>

        <!--
        <div class="editor-label">
            @Html.LabelFor(model => model.UsuarioCreacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UsuarioCreacion)
            @Html.ValidationMessageFor(model => model.UsuarioCreacion)
        </div>
        -->

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaActualizacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaActualizacion)
            @Html.ValidationMessageFor(model => model.FechaActualizacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UsuarioActualizacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UsuarioActualizacion)
            @Html.ValidationMessageFor(model => model.UsuarioActualizacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Estado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Estado)
            @Html.ValidationMessageFor(model => model.Estado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tipo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tipo)
            @Html.ValidationMessageFor(model => model.Tipo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NombreUsuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NombreUsuario)
            @Html.ValidationMessageFor(model => model.NombreUsuario)
        </div>

        <!--
        <div class="editor-label">
            @Html.LabelFor(model => model.PasswordChange)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PasswordChange)
            @Html.ValidationMessageFor(model => model.PasswordChange)
        </div>
        -->
        <p>
            <input type="submit" value="Guardar" class="btn btn-info pull-right" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Atrás", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
