@model IEnumerable<LAAG.Persona>

@{
    ViewBag.Title = "Personas";
}
<!--Deberíamos de enviar y recibir la acción por el viewbag-->
<h2></h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        Personas
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tbPersonas" class="display">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Apellido1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Apellido2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Correo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telefono1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Estado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Tipo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NombreUsuario)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellido1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellido2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Correo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tipo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreUsuario)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.ID_Persona }) |
                                @Html.ActionLink("Detalles", "Details", new { id = item.ID_Persona }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_Persona })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>

@section Scripts{
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tbPersonas').dataTable({
                "language": {
                    "url": "/Scripts/plugins/dataTables/Spanish.txt"
                }
            });
        })
    </script>
}