@model LAAG.Models.RegisterModel
@{ LAAG.Persona persona = (LAAG.Persona)Session["CurrentSession"];}
@{
    ViewBag.Title = "Register";
}

<!--<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>-->

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count() > 0)
{
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">×</a>
        <h5 class="alert-heading"><strong>Error en la Inserción</strong></h5>
        @Html.ValidationSummary(true)
    </div>
}
else if (ViewData.ModelState["success"] != null)
{
    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        <h5 class="alert-heading"><strong>Éxito en la Inserción</strong></h5>
        @Html.ValidationSummary(true)
    </div>
}

    <div class="container">
    <div class="row">
        <form role="form">
            <div class="col-lg-6">
                <div class="well well-sm"><strong>Registro de Clientes</strong></div>
                @if(persona.Tipo==0){
                    <div class="form-group">
                        <label for="InputName">Tipo Usuario</label>
                        @Html.DropDownListFor(model => model.Tipo, new SelectList(
                                        new List<Object>{new { value = 1 , text = "Administrador" },
                                        new { value = 2 , text = "Cliente"}},"value","text",1), 
                                        new { @class = "form-control" })

                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label for="InputName">Tipo Usuario</label>
                        @Html.DropDownListFor(model => model.Tipo, new SelectList(
                                        new List<Object>{new { value = 2 , text = "Cliente"}}, "value", "text", 1),
                                        new { @class = "form-control" })

                    </div>
                }
                <div class="form-group">
                    <label for="InputName">Nombre</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", placeholder = "Nombre", @required = "required" })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputLastname">Apellidos</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Apellidos, new { @class = "form-control", placeholder = "Apellidos", @required = "required" })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Correo</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Correo, new {@type="email", @class = "form-control", placeholder = "Correo"})
                        <span class="input-group-addon"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputUsuario">Usuario</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control", placeholder = "Usuario", @required = "required" })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputTelefono">Telefono 1</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", placeholder = "Telefono" })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputTelefono2">Telefono 2</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Telefono2, new { @class = "form-control", placeholder = "Telefono"})
                        <span class="input-group-addon"></span>
                    </div>
                </div>
                <input type="submit" name="submit" id="submit" value="Registrar" class="btn btn-info pull-right">
            </div>
        </form>
    </div>
</div>
} 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
