@model LAAG.Resultado_Analisis

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Resultado_Analisis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Muestra_Analisis.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Muestra_Analisis.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reporte.Metodologia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reporte.Metodologia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdResultadoAnalisis }) |
    @Html.ActionLink("Back to List", "Index")
</p>
