@model IEnumerable<LAAG.Muestra_Analisis>

@{
    ViewBag.Title = "Resultados de las Muestras";
    LAAG.AGRONOMICOSDBEntities db = new LAAG.AGRONOMICOSDBEntities();
    LAAG.Persona personaT = (LAAG.Persona)Session["CurrentSession"];
    int listos = db.Muestra_Analisis.Where(x => x.Estado == 1).Count();
    int pendientes = db.Muestra_Analisis.Where(x => x.Estado == 0).Count();
}

<div class="panel panel-default">
    
    @using (Html.BeginForm("Muestras", "Resultado", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="form-actions no-color">
            <input type="file" name="file" />
            <input id="btnUpload" type="submit" value="Subir" />
        </div>
    }
    <div class="panel-heading">
        Listado de Muestras
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tbPersonas" class="display">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Cliente</th>
                        <th>Análisis</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var cliente = item.Muestra.Persona.Nombre + " " + item.Muestra.Persona.Apellido1 + " " + item.Muestra.Persona.Apellido2;
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Muestra.Codigo)
                            </td>
                            <td>
                                @Html.DisplayName(cliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Analisis.Nombre)
                            </td>
                            @if(ViewBag.Estado==0 && personaT.Tipo!=2){
                                <td>@Html.ActionLink("Analizar Muestra","Create", new { analisis = item.IdMuestraAnalisis})</td>
                            }
                            else if (ViewBag.Estado == 1 && personaT.Tipo != 2)
                            {
                                <td>@Html.ActionLink("Editar Muestra","Edit", new { analisis = item.IdMuestraAnalisis})</td>
                            }
                            else if (personaT.Tipo == 2)
                            {
                                <td>@Html.ActionLink("Ver Resultado", "Details", new { analisis = item.IdMuestraAnalisis })</td>
                            }

                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
<div>
    @Html.ActionLink("Atrás", "MiContrato", "Contrato", new { id = ViewBag.contrato }, null)
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/jquery-1.11.1.js")
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/plugins/dataTables/dataTables.bootstrap.js"></script>

    <script>
        $(document).ready(function () {
            $('#tbPersonas').dataTable({
                "language": {
                    "url": "/Scripts/plugins/dataTables/Spanish.txt"
                }
            });

            /*
            $('#btnUpload').click(function (event) {
                event.preventDefault();
                var fileOptions = {
                    success: res,
                    dataType: "json"
                }
                $("#frmUpload").ajaxSubmit(fileOptions);
            });
            */
            $("#formUpload").submit(function (event) {
                
                /*
                $('<input />').attr('type', 'hidden')
                    .attr('name', "file")
                    .attr('value', JSON.stringify({$("#file")}))
                    .appendTo('#formUpload');
                return true;*/

                
                var fileOptions = {
                    success: res,
                    dataType: "json"
                }
                $("#frmUpload").ajaxSubmit(fileOptions);
                
            });
            /*
            $("#formUpload").submit(function (event) {
                var jsonDatos = { "file": $('#file').val() };
                // Json de los ingenieros que va a tener el contrato
                $('<input />').attr('type', 'hidden')
                    .attr('name', "jsonDatos")
                    .attr('value', JSON.stringify(jsonDatos))
                    .appendTo('#formUpload');
                return true;
            });
            */
        });


    </script>
}