@model IEnumerable<LAAG.Categorias>

@{
    ViewBag.Title = "Index";
}
<!--Deberíamos de enviar y recibir la acción por el viewbag-->
<h2>Categorías</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        Categorías
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tbPersonas" class="order-column">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.idCategoria }) |
                                @Html.ActionLink("Detalles", "Details", new { id = item.idCategoria }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.idCategoria })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/jquery-1.11.1.js")
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/plugins/dataTables/dataTables.bootstrap.js"></script>

    <script>
        $(document).ready(function () {
            $('#tbPersonas').dataTable({
                "language": {
                    "url": "/Scripts/plugins/dataTables/Spanish.txt"
                }
            });
        })
    </script>
}