@model LAAG.Muestra_analisis

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Muestra_analisis</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdMuestraAnalisis)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdMuestraAnalisis)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Costo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Costo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Muestra.Campo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Muestra.Campo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Factura.UsuarioCreacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Factura.UsuarioCreacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Analisis.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Analisis.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UsuarioCreacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UsuarioCreacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaCreacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaCreacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UsuarioActualizacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UsuarioActualizacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaActualizacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaActualizacion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
