@model LAAG.Muestra_analisis

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Muestra_analisis</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdMuestraAnalisis)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdMuestraAnalisis)
            @Html.ValidationMessageFor(model => model.IdMuestraAnalisis)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Costo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Costo)
            @Html.ValidationMessageFor(model => model.Costo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Codigo, "Muestra")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Codigo", String.Empty)
            @Html.ValidationMessageFor(model => model.Codigo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdFactura, "Factura")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdFactura", String.Empty)
            @Html.ValidationMessageFor(model => model.IdFactura)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdAnalisis, "Analisis")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdAnalisis", String.Empty)
            @Html.ValidationMessageFor(model => model.IdAnalisis)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Estado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Estado)
            @Html.ValidationMessageFor(model => model.Estado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UsuarioCreacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UsuarioCreacion)
            @Html.ValidationMessageFor(model => model.UsuarioCreacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaCreacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaCreacion)
            @Html.ValidationMessageFor(model => model.FechaCreacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UsuarioActualizacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UsuarioActualizacion)
            @Html.ValidationMessageFor(model => model.UsuarioActualizacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaActualizacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaActualizacion)
            @Html.ValidationMessageFor(model => model.FechaActualizacion)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
