@model IEnumerable<LAAG.Muestra_analisis>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdMuestraAnalisis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Muestra.Campo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factura.UsuarioCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Analisis.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioActualizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdMuestraAnalisis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Muestra.Campo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factura.UsuarioCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Analisis.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioActualizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaActualizacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
