@model LAAG.Analisis

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Analisis</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdAnalisis)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdAnalisis)
            @Html.ValidationMessageFor(model => model.IdAnalisis)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCategoria, "Categoria")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCategoria", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCategoria)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
